.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: auto;
  border: 1px solid blue;
  text-align: center;
}
.flex-item {
  background-color: tomato;
  padding: 5px;
  width: 20px;
  height: 20px;
  margin: 10px;
  line-height: 20px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.img{
    width: fit-content;
}